* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: $body-color;
    color: $text-color;
}

h1, h2, h3 {
    color: $title-color;
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1024px;
    margin: 0 20px;
}

.grid {
    display: grid;
    gap: 20px;
}

.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: $h2-font-size;
    text-align: center;
    margin-bottom: 40px;
}

.main {
    overflow: hidden;
}

.shape {
    background-color: hsla(219, 33%, 32%, .5);
    filter: blur(112px);
    &__big {
        width: 400px;
        height: 400px;
    }
    &__small {
        width: 300px;
        height: 300px;
    }
    &__smaller {
        width: 180px;
        height: 180px;
        filter: blur(64px);
    }
}