@media (max-width: 320px) {
    .container {
        margin: 0 1rem;
    }

    .home__car {
        column-gap: 2rem;
    }

    .about__card {
        width: 150px;
    }

    .offer__container {
        grid-template-rows: max-content 180px;
    }

    .offer__img {
        width: 340px;
    }

    .logos__container {
        gap: 2.5rem;
    }
}

@media (min-width: 420px) {
    .about__group {
        width: 300px;
        justify-self: center;
    }
}

@media (min-width: 576px) {
    .about__group {
        width: 350px;
        justify-self: center;
    }

    .features__map {
        left: 0;
        right: 0;
    }

    .featured__content {
        grid-template-columns: repeat(2, 228px);
    }

    .offer__container {
        grid-template-rows: initial;
        grid-template-columns: .5fr;
        justify-content: center;
    }

    .offer__img {
        position: relative;
        right: initial;
        bottom: initial;
    }

    .offer__data {
        margin-bottom: 4rem;
    }
}

@media (min-width: 767px) {
    .section {
        padding: 7rem 0 2rem;
    }
    .nav {
        height: calc($header-height + 1.5rem);
    }
    .nav__close,
    .nav__toggle {
        display: none;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
        padding-top: 0;
    }
    .nav__link {
        font-size: $normal-font-size;
        text-transform: initial;
    }
    .about__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .logos__container {
        gap: 4rem 8rem;
    }
    .footer__container {
        grid-template-columns: repeat(2, max-content);
        gap: 4rem;
        justify-content: center;
    }
}

@media (min-width: 1040px) {
    .container {
        margin: 0 auto;
    }
    .home__container {
        padding-top: 2rem;
    }
    .home__img {
        width: 380px;
    }
    .home__car {
        column-gap: 7rem;
    }
    .about__container {
        column-gap: 6rem;
        align-items: center;
    }
    .about__group,
    .about__img {
        width: 480px;
    }
    .about__card {
        width: 198px;
        padding: 1rem 1.25rem;
    }
    .about__descr {
        padding-right: 4rem;
        margin-bottom: 3rem;
    }
    .popular__container {
        width: 875px;
        padding-top: 3rem;
    }
    .popular__card {
        width: 258px;
        margin-bottom: 5rem;
    }
    .popular__img {
        width: 180px;
        margin: .75rem 0 1.25rem 2rem;
    }
    .features {
        &__container {
            padding: 3rem 0 2rem;
        }
        &__img {
            width: 200px;
        }
        &__card {
            padding: .75rem 2rem;
            width: 127px;
            &-1 {
                left: -1rem;
            }
            &-2 {
                right: -2.5rem;
            }
            &-3 {
                bottom: 7rem;
                left: -1rem;
            }
        }
        &__map {
            max-width: 650px;
            top: 11rem;
        }
    }
    .featured {
        &__container {
            padding-bottom: 2.5rem;
        }
        &__filter {
            column-gap: 2rem;
            margin-bottom: 4.5rem;
        }
        &__item {
            width: 52px;
            height: 52px;
            img {
                width: 2rem;
            }
        }
        &__content {
            grid-template-columns: repeat(3, 228px);
            gap: 4rem;
        }
    }
    .offer {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 2rem;
            column-gap: 5rem;
        }
        &__title,
        &__data {
            text-align: initial;
        }
        &__data {
            margin-bottom: 0;
        }
        &__descr {
            padding-right: 5rem;
        }
        &__img {
            width: 450px;
        }
    }

    .logos {
        &__container {
            grid-template-columns: repeat(6, max-content);
        }
        &__img {
            width: 50px;
        }
    }

    .footer {
        &__container {
            grid-template-columns: repeat(4, max-content);
            justify-content: space-between;
        }
        &__title {
            margin-bottom: 2rem;
        }
        &__logo {
            column-gap: .5rem;
            & i {
                font-size: 1.5rem;
            }
        }
        &__links {
            row-gap: .75rem;
        }
        &__social-link {
            font-size: 1.5rem;
        }
        &__copy {
            margin-top: 8rem;
            padding-bottom: 1rem;
        }
    }
    .scrollup {
        right: 3rem;
    }
}